* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
}

body {
    background-color: navajowhite;
    font-family: cursive;
}

.container-fluid {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.main {
    display: flex;
    align-items: center;

}
    

.search {
    padding: 20px;
    text-align: center;
    justify-content: center;
    background-color: aqua;
}

.input[type="text"] {
    height: 10px;
    width: 5px;
    padding: 10px;
    margin: 0;
    background: white;
    font-size: 12px;
    background-color: transparent;
    border: 2px solid;
    border-radius: 6px;
}

.input[type="submit"] {
    height: 10px;
    width: 5px;
    padding: 10px;
    background-color: transparent;
    background: white;
}

.display-current {
    display: contents;
    justify-content: space-around;
    border: 10px, darkolivegreen;
    text-align: left;
    width: 200px;
    height: 200px;
    color: lightskyblue
}

.chosen-city {
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    border: 1px solid;
}

.temp {
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    border: 1px solid;
}

.wind {
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    border: 1px solid;
}

.humidity {
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    border: 1px solid;
}

